.student-group {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 5px 20px;
  border-right: 1px solid gray;
  &:last-child {
    border-right: none;
  }
}

.student-group__title {
  text-align: center;
}

.student-group__wrapper {
  text-align: center;
}

.student-group__student {
  display: inline-block;
  padding: 1px 5px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.student-group__icon-button {
  padding: 0 5px;
  cursor: pointer;
}
