@import "../../styles/styles.scss";

.event__wrapper {
  position: absolute;
  width: 100%;
  padding: 0 5px 5px;
}

.event {
  display: block;
  position: relative;
  height: 100%;
  min-height: 45px;
  padding: 5px;
  overflow: hidden;
  color: $text-color;
  font-size: 12px;
  background-color: aquamarine;
  border-radius: 7px;
  border-top-left-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;

  &:visited,
  &:hover,
  &:active,
  &:link {
    color: $text-color;
  }
}

.event__name-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}

.event__name {
  width: 300px;
}

.event__time {
  margin-top: 15px;
}

.event__edit {
  position: absolute;
  display: block;
  border: none;
  padding: 0;
  right: 10px;
  bottom: 3px;
  background-color: transparent;
  cursor: pointer;
}

.edit {
  font-size: 17px;
}
