@import "../../styles/styles.scss";

.event__wrapper {
  position: absolute;
  width: 100%;
  padding: 0 5px 5px;
}

.event {
  display: block;
  position: relative;
  height: 100%;
  min-height: 45px;
  padding: 5px;
  overflow: hidden;
  color: $text-color;
  background-color: aquamarine;
  border-radius: 7px;
  border-top-left-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;

  &:visited,
  &:hover,
  &:active,
  &:link {
    color: $text-color;
  }
}

.event__name {
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
  flex: 0 1 auto;
}

.event__time {
  margin-top: 22px;
}

.event__auditory {
  margin-top: 5px;
}

.event__edit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}

.edit {
  font-size: 17px;
}

.popover {
  display: flex;
  flex-direction: column;
}

.popover__button {
  & + & {
    margin-top: 10px;
  }
}
