.attendance {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  background-color: white;
}

.attendance__title {
  font-size: 30px;
}

.attendance__day {
  padding: 10px 0;
  & + & {
    padding: 0 0 10px;
  }
}

.attendance__groups {
  height: 100%;
  display: flex;
}

.attendance__loader {
  position: relative;
}

.attendance__go-back {
  display: block;
  padding: 10px 20px;

  &:last-child {
    margin-left: 10px;
  }
}
