.header {
  padding: 20px;
}

.header__text {
  font-size: 40px;
  text-decoration: none;

  & + & {
    padding-left: 20px;
  }

  &:visited,
  &:hover,
  &:active,
  &:link {
    color: inherit;
  }
}

.header__text_active {
  text-decoration: underline;
}
