.link {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #52aefa;
    outline: 0;
    text-decoration: none;
  }
}
