.from__item {
  & .ant-row {
    display: flex;
    flex-direction: row;
  }

  & .ant-form-item-control-wrapper {
    flex: 1;
  }
}

.form__item_last-elem {
  & .ant-form-item {
    margin: 0;
  }
}

.form__button {
  margin-left: 10px;
}

.form__delete-button {
  float: left;
}

.form__loader {
  padding: 16px 0;
  text-align: center;
}

.form__date {
  max-width: 280px;
}

.form__item__checkbox {
  & .ant-form-item-children-icon {
    right: -25px !important;
  }
}
