.from__item {
  position: relative;

  & .ant-row {
    display: flex;
    flex-direction: row;
  }

  & .ant-form-item-control-wrapper {
    flex: 1;
  }
}

.form__item_last-elem,
.form__no-margin {
  & .ant-form-item {
    margin-bottom: 5px;
  }
}

.form__button {
  margin-left: 10px;
}

.form__delete-button {
  float: left;
}

.form__loader {
  padding: 16px 0;
  text-align: center;
}

.form__date {
  max-width: 280px;
}

.form__item__checkbox {
  & .ant-form-item-children-icon {
    right: -25px !important;
  }
}

.form__icon {
  font-size: 22px;
  cursor: pointer;
}

.form__remove {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.form__delete-item {
  position: absolute;
  top: 10px;
  right: -30px;
}

.form__subtitle {
  margin-bottom: 20px;
}
