.grid {
  position: relative;
  padding-top: 1px;
  width: 100%;
}

.gird__columns-wrapper {
  display: flex;
  height: 100%;
}

.gird__column {
  flex: 1;
  position: relative;
  height: 100%;
  border-right: 1px gray solid;
}
